.github/**
.vscode/**
.vscode-test/**
node_modules/**
build/**
out/**
resources/readme/**
src/**
test/**
misc/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.devcontainer/**
.prettierignore
.prettierrc.yml
.test-extensions
